In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import ast 
import numpy as np
df = pd.read_csv('/content/movies_metadata.csv', engine="python",error_bad_lines=False)

<ipython-input-29-a6123a73f12c>:4: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv('/content/movies_metadata.csv', engine="python",error_bad_lines=False)
Skipping line 33821: unexpected end of data

2. __Drop__ the irrelevant columns 'adult', 'imdb_id', 'original_title', 'video' and 'homepage'.

In [ ]:
df.drop(['adult','imdb_id',  'original_title', 'video', 'homepage'], axis = 1 , inplace=True)

# How to handle stringified JSON columns

3. __Evaluate__ Python Expressions in the stringified columns ["belongs_to_collection", "genres", "production_countries", "production_companies", "spoken_languages"] and __remove quotes__ ("") where possible.

In [ ]:
df.genres = df.genres.apply(ast.literal_eval) #Ouput is same as above 

df.production_companies.apply = df.production_companies.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)
df.belongs_to_collection =df.belongs_to_collection.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)
df.spoken_languages = df.spoken_languages.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)
df.production_countries  = df.production_countries.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33819 entries, 0 to 33818
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  3673 non-null   object
 1   budget                 33819 non-null  object
 2   genres                 33819 non-null  object
 3   id                     33819 non-null  object
 4   original_language      33815 non-null  object
 5   overview               33332 non-null  object
 6   popularity             33815 non-null  float64
 7   poster_path            33623 non-null  object
 8   production_companies   33817 non-null  object
 9   production_countries   33817 non-null  object
 10  release_date           33780 non-null  object
 11  revenue                33815 non-null  float64
 12  runtime                33707 non-null  float64
 13  spoken_languages       33815 non-null  object
 14  status                 33762 non-null  object
 15  tagline                17201 non-null  object
 16  title                  33815 non-null  object
 17  vote_average           33815 non-null  float64
 18  vote_count             33815 non-null  float64
dtypes: float64(5), object(14)
memory usage: 4.9+ MB

4. __Extract__ only the __collection name__ from the column "belongs_to_collection" and __overwrite__ "belongs_to_collection". <br> For example: The value in the first row (Toy Story) should be 'Toy Story Collection'.

5. __Extract__ all __genre names__ from the column "genres" and __overwrite__ "genres". If a movie has more than one genre, __seperate genres by a pipe__ "|".<br>
For example: The value in the first row (Toy Story) should be 'Animation|Comedy|Family'.

6. __Extract__ all __spoken language names__ from the column "spoken_languages" and __overwrite__ "spoken_languages". If a movie has more than one spoken language, __seperate spoken languages by a pipe__ "|".<br>
For example: The value in the first row (Toy Story) should be 'English'.

7. __Extract__ all __production countries names__ from the column "production_countries" and __overwrite__ "production_countries". If a movie has more than one production country, __seperate production countries by a pipe__ "|".<br>
For example: The value in the first row (Toy Story) should be 'United States of America'.

8. __Extract__ all __production companies names__ from the column "production_companies" and __overwrite__ "production_companies". If a movie has more than one production company, __seperate production companies by a pipe__ "|".<br>
For example: The value in the first row (Toy Story) should be 'Pixar Animation Studios'

9. __Inspect__ all columns above with value_counts(). Do you see anything strange? __Take reasonable measures__!

In [ ]:
df.belongs_to_collection[0]

{'id': 10194,
 'name': 'Toy Story Collection',
 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg',
 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}

In [ ]:
df.belongs_to_collection = df.belongs_to_collection.apply(lambda x: x['name'] if isinstance(x, dict) else np.nan)    #collection name

0                  Toy Story Collection
1                                   NaN
2             Grumpy Old Men Collection
3                                   NaN
4        Father of the Bride Collection
                      ...
33814                               NaN
33815                               NaN
33816                               NaN
33817                               NaN
33818              Overheard Collection
Name: belongs_to_collection, Length: 33819, dtype: object

In [ ]:
df.belongs_to_collection.value_counts(dropna = False).head(20)

NaN                                       30148
James Bond Collection                        26
Zatôichi: The Blind Swordsman                26
Charlie Chan (Sidney Toler) Collection       21
Pokémon Collection                           19
Godzilla (Showa) Collection                  16
Charlie Chan (Warner Oland) Collection       15
Dragon Ball Z (Movie) Collection             15
Totò Collection                              14
The Land Before Time Collection              13
The Carry On Collection                      13
Friday the 13th Collection                   12
Sherlock Holmes (1939 series)                11
Hellraiser Collection                        10
Il Maresciallo Giraldi Collection            10
Puppet Master Collection                     10
Tom and Jerry Collection                     10
The Pink Panther (Original) Collection        9
Children of the Corn Collection               9
The Amityville Horror Collection              9
Name: belongs_to_collection, dtype: int64

In [ ]:
df.genres = df.genres.apply(lambda x: '|'.join(i['name'] for i in x))

In [ ]:
df.genres.value_counts(dropna = False).head(20)

Drama                   3687
Comedy                  2460
Documentary             1782
                        1340
Drama|Romance           1097
Comedy|Drama             907
Comedy|Romance           755
Horror                   707
Comedy|Drama|Romance     522
Horror|Thriller          437
Drama|Thriller           399
Drama|Comedy             398
Crime|Drama              366
Thriller                 308
Western                  252
Romance|Drama            247
Action|Thriller          246
Drama|Foreign            217
Drama|History            215
Action|Comedy            203
Name: genres, dtype: int64

In [ ]:
df.spoken_languages = df.spoken_languages.apply(lambda x: '|'.join(i['name'] for i in x) if isinstance(x, list) else np.nan)

In [ ]:
df.spoken_languages.value_counts(dropna = False).head(20)

English             17887
                     2406
Français             1339
Italiano              897
日本語                   889
English|Français      584
Español               563
English|Español       523
Deutsch               512
English|Deutsch       397
English|Italiano      290
Pусский               276
한국어/조선말               270
普通话                   224
svenska               220
हिन्दी                208
suomi                 203
Español|English       161
No Language           158
English|Pусский       143
Name: spoken_languages, dtype: int64

In [ ]:
df.spoken_languages.replace("", np.nan, inplace = True)

In [ ]:
df.production_countries = df. production_countries.apply(lambda x: '|'.join(i['name'] for i in x) if isinstance(x, list) else np.nan)

In [ ]:
df.production_countries.value_counts(dropna=False).head(20)

United States of America                   14800
                                            3927
United Kingdom                              1723
France                                      1199
Japan                                        954
Italy                                        761
Canada                                       589
Germany                                      530
United Kingdom|United States of America      517
India                                        327
Canada|United States of America              302
South Korea                                  279
Hong Kong                                    272
Spain                                        262
Australia                                    256
Russia                                       256
Sweden                                       249
Germany|United States of America             201
Finland                                      194
France|Italy                                 183
Name: production_countries, dtype: int64

In [ ]:
df.production_countries.replace("", np.nan, inplace=True)

In [ ]:


df.production_companies = df.production_companies.apply(lambda x: "|".join(i['name'] for i in x) if isinstance(x, list) else np.nan)

In [ ]:
df.production_companies.value_counts(dropna = False).head(20)

NaN    33819
Name: production_companies, dtype: int64

In [ ]:
df.isna().sum()

belongs_to_collection    30148
budget                       0
genres                       0
id                           0
original_language            4
overview                   487
popularity                   4
poster_path                196
production_companies     33819
production_countries      3931
release_date                39
revenue                      4
runtime                    112
spoken_languages          2410
status                      57
tagline                  16618
title                        4
vote_average                 4
vote_count                   4
dtype: int64

## Cleaning Numerical Columns

10. __Convert__ the datatype in the columns __"budget"__, __"id"__ and __"popularity"__ __to numeric__. Set invalid values as NaN.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33819 entries, 0 to 33818
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  3671 non-null   object
 1   budget                 33819 non-null  object
 2   genres                 33819 non-null  object
 3   id                     33819 non-null  object
 4   original_language      33815 non-null  object
 5   overview               33332 non-null  object
 6   popularity             33815 non-null  float64
 7   poster_path            33623 non-null  object
 8   production_companies   0 non-null      float64
 9   production_countries   29888 non-null  object
 10  release_date           33780 non-null  object
 11  revenue                33815 non-null  float64
 12  runtime                33707 non-null  float64
 13  spoken_languages       31409 non-null  object
 14  status                 33762 non-null  object
 15  tagline                17201 non-null  object
 16  title                  33815 non-null  object
 17  vote_average           33815 non-null  float64
 18  vote_count             33815 non-null  float64
dtypes: float64(6), object(13)
memory usage: 4.9+ MB

In [ ]:
df.budget = pd.to_numeric(df.budget, errors='coerce')
df.budget.value_counts(dropna=False)
df.budget.replace(0,np.nan)

0        30000000.0
1        65000000.0
2               NaN
3        16000000.0
4               NaN
            ...
33814           NaN
33815           NaN
33816           NaN
33817           NaN
33818     8000000.0
Name: budget, Length: 33819, dtype: float64

In [ ]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33819 entries, 0 to 33818
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  3671 non-null   object
 1   budget                 33817 non-null  float64
 2   genres                 33819 non-null  object
 3   id                     33819 non-null  object
 4   original_language      33815 non-null  object
 5   overview               33332 non-null  object
 6   popularity             33815 non-null  float64
 7   poster_path            33623 non-null  object
 8   production_companies   0 non-null      float64
 9   production_countries   29888 non-null  object
 10  release_date           33780 non-null  object
 11  revenue                33815 non-null  float64
 12  runtime                33707 non-null  float64
 13  spoken_languages       31409 non-null  object
 14  status                 33762 non-null  object
 15  tagline                17201 non-null  object
 16  title                  33815 non-null  object
 17  vote_average           33815 non-null  float64
 18  vote_count             33815 non-null  float64
dtypes: float64(7), object(12)
memory usage: 4.9+ MB

In [ ]:
df.id = pd.to_numeric(df.id, errors='coerce')

In [ ]:
df.id.value_counts(dropna=False)

141971.0    3
18440.0     2
109962.0    2
77221.0     2
5511.0      2
           ..
125759.0    1
15242.0     1
15374.0     1
43837.0     1
74639.0     1
Name: id, Length: 33796, dtype: int64

In [ ]:
df.popularity = pd.to_numeric(df.popularity, errors ='coerce')
df.popularity.value_counts(dropna=False)

0.000000    32
0.000844    27
0.000001    27
0.000578    26
0.000308    25
            ..
0.782194     1
1.345865     1
0.881335     1
2.534678     1
1.172189     1
Name: popularity, Length: 32984, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33819 entries, 0 to 33818
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  3671 non-null   object
 1   budget                 33817 non-null  float64
 2   genres                 33819 non-null  object
 3   id                     33817 non-null  float64
 4   original_language      33815 non-null  object
 5   overview               33332 non-null  object
 6   popularity             33815 non-null  float64
 7   poster_path            33623 non-null  object
 8   production_companies   0 non-null      float64
 9   production_countries   29888 non-null  object
 10  release_date           33780 non-null  object
 11  revenue                33815 non-null  float64
 12  runtime                33707 non-null  float64
 13  spoken_languages       31409 non-null  object
 14  status                 33762 non-null  object
 15  tagline                17201 non-null  object
 16  title                  33815 non-null  object
 17  vote_average           33815 non-null  float64
 18  vote_count             33815 non-null  float64
dtypes: float64(8), object(11)
memory usage: 4.9+ MB

11. __Analyze__ the columns __"budget"__ and __"revenue"__ and __"runtime"__. Analyze movies with a budget/revenue/runtime of 0. Do you think the value 0 is the most appropriate value? __Take reasonable measures__!

In [ ]:
df.budget = df.budget.replace(0, np.nan)
df.budget.value_counts(dropna=False)

NaN          26140
5.000000       236
10.000000      225
20.000000      220
15.000000      211
             ...
0.000115         1
1.377800         1
0.747000         1
2.175000         1
0.515788         1
Name: budget, Length: 1038, dtype: int64

In [ ]:
df.revenue = df.revenue.replace(0, np.nan)
df.revenue.value_counts(dropna=False)

NaN            27123
12000000.0        19
10000000.0        16
11000000.0        15
6000000.0         15
               ...
1494399.0          1
2506446.0          1
123729176.0        1
25482931.0         1
11095236.0         1
Name: revenue, Length: 6259, dtype: int64

In [ ]:
df.runtime.value_counts()

90.0     1801
100.0    1131
95.0     1086
93.0      951
96.0      882
         ...
234.0       1
345.0       1
230.0       1
292.0       1
452.0       1
Name: runtime, Length: 317, dtype: int64

12. The columns "budget" and "revenue" shall show values in Million USD. __Convert and Overwrite__!

In [ ]:
df.budget = df.budget.div(1000000)

In [ ]:
df.revenue = df.revenue.div(1000000)

13. __Analyze__ movies with a __vote_count of 0__. What´s the __vote_average__ for those movies? Do you think this value is the most appropriate value? __Take reasonable measures__!

In [ ]:
# df.sort_values(by='vote_count', ascending=True)?
df.vote_count.value_counts(dropna=False)
print(df.loc[df.vote_count == 0, 'vote_average'])

83       0.0
107      0.0
126      0.0
132      0.0
137      0.0
        ...
33611    0.0
33617    0.0
33620    0.0
33621    0.0
33753    0.0
Name: vote_average, Length: 1641, dtype: float64

In [ ]:
df.loc[df.vote_count == 0 , 'vote_average'] = np.nan

## Cleaning DateTime Columns

14. __Convert__ the datatype in the column __"release_date"__ __to datetime__. Set invalid values as NaN.

In [ ]:
df.release_date = pd.to_datetime(df.release_date,errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33819 entries, 0 to 33818
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  3671 non-null   object
 1   budget                 7679 non-null   float64
 2   genres                 33819 non-null  object
 3   id                     33817 non-null  float64
 4   original_language      33815 non-null  object
 5   overview               33332 non-null  object
 6   popularity             33815 non-null  float64
 7   poster_path            33623 non-null  object
 8   production_companies   0 non-null      float64
 9   production_countries   29888 non-null  object
 10  release_date           33778 non-null  datetime64[ns]
 11  revenue                6696 non-null   float64
 12  runtime                33707 non-null  float64
 13  spoken_languages       31409 non-null  object
 14  status                 33762 non-null  object
 15  tagline                17201 non-null  object
 16  title                  33815 non-null  object
 17  vote_average           33815 non-null  float64
 18  vote_count             33815 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(10)
memory usage: 4.9+ MB

## Cleaning Text / String Columns

15. __Analyze__ the text columns "overview" and "tagline". Try to identify __missing data that is not represented by NaN__ (e.g. "No Data"). __Replace as NaN__ (np.nan)!

In [ ]:
df.overview.value_counts(dropna=False)
df.overview = df.overview.replace(' ', np.nan)
df.overview.replace("No overview found.", np.nan, inplace = True)
df.overview.replace("No Overview", np.nan, inplace = True)
df.overview.replace("No movie overview available.", np.nan, inplace = True)
df.overview.replace("No overview yet.", np.nan, inplace = True)
df.overview.value_counts(dropna=False)
df.tagline.replace("-", np.nan, inplace = True)

## Removing Duplicates

16. __Identify__ and __remove__ duplicates!

In [ ]:
df.duplicated().value_counts(dropna=False)

False    33807
True        12
dtype: int64

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.duplicated().value_counts(dropna=False)

False    33807
dtype: int64

## Handling Missing Values & Removing Observations

17. __Drop__ all rows/movies with unknown __id__ or __title__.

18. __Keep__ only those rows/movies in the df with __10 or more non-NaN__ values.

In [ ]:
df.id.unique()
df.title.unique()

array(['Toy Story', 'Jumanji', 'Grumpier Old Men', ..., 'Parallel Life',
       'Days of Wrath', 'Overheard 2'], dtype=object)

In [ ]:
df.isna().sum()

belongs_to_collection    30136
budget                   26128
genres                       0
id                           2
original_language            4
overview                   570
popularity                   4
poster_path                196
production_companies     33807
production_countries      3929
release_date                41
revenue                  27113
runtime                    112
spoken_languages          2408
status                      57
tagline                  16611
title                        4
vote_average                 4
vote_count                   4
dtype: int64

In [ ]:
df.dropna(subset=['id','title'], inplace=True)

In [ ]:
df.dropna(thresh=10, inplace=True)

In [ ]:
df.isna().sum()

belongs_to_collection    30125
budget                   26116
genres                       0
id                           0
original_language            4
overview                   562
popularity                   0
poster_path                188
production_companies     33795
production_countries      3917
release_date                34
revenue                  27101
runtime                    101
spoken_languages          2396
status                      50
tagline                  16599
title                        0
vote_average                 0
vote_count                   0
dtype: int64

In [ ]:
df[df.original_language.isna() == True].dropna().inplace=True

In [ ]:
df.isna().sum()

belongs_to_collection    30125
budget                   26116
genres                       0
id                           0
original_language            4
overview                   562
popularity                   0
poster_path                188
production_companies     33795
production_countries      3917
release_date                34
revenue                  27101
runtime                    101
spoken_languages          2396
status                      50
tagline                  16599
title                        0
vote_average                 0
vote_count                   0
dtype: int64

## Final (Cleaning) Steps

19. __Keep__ only those rows/movies in the df with __status "Released"__. Then __drop__ the column "status".

20. The Order of the columns should be as follows: 
["id", "title", "tagline", "release_date", "genres", "belongs_to_collection", 
"original_language", "budget_musd", "revenue_musd", "production_companies",
"production_countries", "vote_count", "vote_average", "popularity", "runtime",
"overview", "spoken_languages", "poster_path"]

21. __Reset__ the Index and create a __RangeIndex__.

In [ ]:
df = df[df.status=='Released']

In [ ]:
df.status.unique()

array(['Released'], dtype=object)

In [ ]:
df.columns

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [ ]:
col = ["id", "title", "tagline", "release_date", "genres", "belongs_to_collection", 
       "original_language", "budget_musd", "revenue_musd", "production_companies",
       "production_countries", "vote_count", "vote_average", "popularity", "runtime",
       "overview", "spoken_languages", "poster_path"]

In [ ]:
df.rename(columns={'budget':'budget_musd', 'revenue':'revenue_musd'}, inplace=True)

df=df.loc[:, col]

<ipython-input-157-1cdffae3b09f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'budget':'budget_musd', 'revenue':'revenue_musd'}, inplace=True)

In [ ]:
df

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path
0,862.0,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,0.000030,373.554033,NaN,United States of America,5415.0,7.7,21.946943,81.0,"Led by Woody, Andy's toys live happily in his ...",English,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg
1,8844.0,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,0.000065,262.797249,NaN,United States of America,2413.0,6.9,17.015539,104.0,When siblings Judy and Peter discover an encha...,English|Français,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
2,15602.0,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,NaN,United States of America,92.0,6.5,11.712900,101.0,A family wedding reignites the ancient feud be...,English,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
3,31357.0,Waiting to Exhale,Friends are the people who let you be yourself...,1995-12-22,Comedy|Drama|Romance,NaN,en,0.000016,81.452156,NaN,United States of America,34.0,6.1,3.859495,127.0,"Cheated on, mistreated and stepped on, the wom...",English,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg
4,11862.0,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.578911,NaN,United States of America,173.0,5.7,8.387519,106.0,Just when George Banks has recovered from his ...,English,/e64sOI48hQXyru7naBFyssKFxVd.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33814,32164.0,Divergence,NaN,2005-01-01,Action|Thriller|Foreign,NaN,cn,NaN,NaN,NaN,Hong Kong,11.0,6.8,0.893082,101.0,"A cop, a lawyer, and an assassin cross paths a...",广州话 / 廣州話|English|普通话,/fBVVzwewWQgV0LUhowH3QuLiTDq.jpg
33815,72074.0,Murderer,NaN,2009-07-09,Drama|Thriller|Crime|Mystery|Foreign,NaN,cn,NaN,NaN,NaN,Hong Kong,8.0,6.3,1.206100,120.0,A Hong Kong-set mystery centered on a detectiv...,广州话 / 廣州話|普通话,/lLjhtN75KUyJqujfppdb59wqlo1.jpg
33816,52441.0,Parallel Life,NaN,2010-02-18,Action|Thriller|Drama|Mystery,NaN,ko,NaN,NaN,NaN,South Korea,9.0,6.3,0.364937,110.0,Kin Suk-hyun is Korea’s youngest appointed cri...,한국어/조선말,/61wni7gg3BK65yJ8UaqFjpHS6Vv.jpg
33817,257568.0,Days of Wrath,NaN,2013-10-30,Action|Drama|Thriller,NaN,en,NaN,NaN,NaN,South Korea,7.0,6.6,1.105183,120.0,"Back in his high school days, Joon-Seok (Joo S...",한국어/조선말,/ji48fwcYraM6ICVLGbi9uHrSWpO.jpg
33818,74639.0,Overheard 2,NaN,2011-08-18,Action|Drama|Thriller,Overheard Collection,cn,0.000008,NaN,NaN,Hong Kong,22.0,5.9,1.172189,121.0,"Manson Law, a celebrated stockbroker in Hong K...",广州话 / 廣州話,/lRvjMJtIPxOOzUIot6jnXh4Mc4q.jpg

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path
0,862.0,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,0.000030,373.554033,NaN,United States of America,5415.0,7.7,21.946943,81.0,"Led by Woody, Andy's toys live happily in his ...",English,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg
1,8844.0,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,0.000065,262.797249,NaN,United States of America,2413.0,6.9,17.015539,104.0,When siblings Judy and Peter discover an encha...,English|Français,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
2,15602.0,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,NaN,United States of America,92.0,6.5,11.712900,101.0,A family wedding reignites the ancient feud be...,English,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
3,31357.0,Waiting to Exhale,Friends are the people who let you be yourself...,1995-12-22,Comedy|Drama|Romance,NaN,en,0.000016,81.452156,NaN,United States of America,34.0,6.1,3.859495,127.0,"Cheated on, mistreated and stepped on, the wom...",English,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg
4,11862.0,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.578911,NaN,United States of America,173.0,5.7,8.387519,106.0,Just when George Banks has recovered from his ...,English,/e64sOI48hQXyru7naBFyssKFxVd.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33526,32164.0,Divergence,NaN,2005-01-01,Action|Thriller|Foreign,NaN,cn,NaN,NaN,NaN,Hong Kong,11.0,6.8,0.893082,101.0,"A cop, a lawyer, and an assassin cross paths a...",广州话 / 廣州話|English|普通话,/fBVVzwewWQgV0LUhowH3QuLiTDq.jpg
33527,72074.0,Murderer,NaN,2009-07-09,Drama|Thriller|Crime|Mystery|Foreign,NaN,cn,NaN,NaN,NaN,Hong Kong,8.0,6.3,1.206100,120.0,A Hong Kong-set mystery centered on a detectiv...,广州话 / 廣州話|普通话,/lLjhtN75KUyJqujfppdb59wqlo1.jpg
33528,52441.0,Parallel Life,NaN,2010-02-18,Action|Thriller|Drama|Mystery,NaN,ko,NaN,NaN,NaN,South Korea,9.0,6.3,0.364937,110.0,Kin Suk-hyun is Korea’s youngest appointed cri...,한국어/조선말,/61wni7gg3BK65yJ8UaqFjpHS6Vv.jpg
33529,257568.0,Days of Wrath,NaN,2013-10-30,Action|Drama|Thriller,NaN,en,NaN,NaN,NaN,South Korea,7.0,6.6,1.105183,120.0,"Back in his high school days, Joon-Seok (Joo S...",한국어/조선말,/ji48fwcYraM6ICVLGbi9uHrSWpO.jpg
33530,74639.0,Overheard 2,NaN,2011-08-18,Action|Drama|Thriller,Overheard Collection,cn,0.000008,NaN,NaN,Hong Kong,22.0,5.9,1.172189,121.0,"Manson Law, a celebrated stockbroker in Hong K...",广州话 / 廣州話,/lRvjMJtIPxOOzUIot6jnXh4Mc4q.jpg